@font-face {
  font-family: 'myFont';
  src: url('bestFont.woff2'),
        url('bestFont.woff');
}

@font-face {
  font-family: 'myFontTwo';
  src: url('bestFontTwo.woff2'),
        url('bestFontTwo.woff');
}

@font-face {
  font-family: 'myFontThree';
  src: url('bestFontThree.woff2'),
        url('bestFontThree.woff');
}


.angular-with-newlines {
    white-space: pre-line;
}

#welcome {
  font-family: 'myFontThree', sans-serif;
  font-size: 44px;
}

.list {
  font-family: 'myFontThree', sans-serif;
  color: black;
  font-size: 35px;
}

.img-gif {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.my-navbar .navbar-brand {
  color: black;
  font-size: 50px;
}

.navbar-default .navbar-nav>li>a{
  color:black;
}

.list a {
  text-decoration: underline;
  color: #8B0000;
}

.navbar-brand{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}

ul {
  list-style-type: none;
}

.img-author{
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-decoration: underline;
}



.navbar {
  font-family: 'myFontThree', sans-serif;
  background: #8B0000;
}

h3 {
  text-decoration: underline;
}

.bottom {
  border-style: solid;
  background:#bfbfbf;
}

.home-depot {
  background-color: black;
  color: white;
}
