@font-face {
  font-family: 'myFont';
  src: url('/bestFont.woff2') format ('woff2'),
        url('/bestFont.woff') format ('woff');
}

@font-face {
  font-family: 'myFontTwo';
  src: url('/bestFontTwo.woff2') format ('woff2'),
        url('/bestFontTwo.woff') format ('woff');
}


.angular-with-newlines {
    white-space: pre-line;
}

body{
  background-color: #FFFFFF;
  font-family: 'myFont', 'myFontTwo', 'sans-serif';
}

.img-gif {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}

ul {
  list-style-type: none;
}

.img-author{
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-decoration: underline;
}

.navbar-default {
  background-color: #8B0000;
}

h3 {
  text-decoration: underline;
}

.bottom {
  border-style: solid;
  background:#bfbfbf;
}
