<div class="container">
      <label class="has-float-label">
        <input ng-model="title" class="form-control" type="text" placeholder="Title"/>
        <span>Title</span>
      </label>

      <label class="has-float-label">
        <input ng-model="author" class="form-control" type="text" placeholder="Author"/>
        <span>Author</span>
      </label>
      <label class="has-float-label">
        <input ng-model="imageUrl" class="form-control" type="text" placeholder="Author Image URL"/>
        <span>Author Image URL</span>
      </label>
      <label class="has-float-label">
        <input ng-model="sourceUrl" class="form-control" type="text" placeholder="Source URL"/>
        <span>Source URL</span>
      </label>
      <label class="has-float-label">
        <textarea ng-model="passage" class="form-control" type="text" rows= '15' placeholder="Add Passage To Memorize"/></textarea>
        <span>Passage</span>
      </label>
    </div>
  </div>

    <div>
    <button ng-click="addPassage()" type="submit" class="btn btn-secondary btn-lg practice-one">
    <span class ='glyphicon glyphicon-save'></span>
    <p>Save Passage</p>
    </button>
    </div>
</form>
