<h1 class='text-center'>Add Passage</h1>
<form>
    <div class="form-group">
        <label for="title">Title:</label>
        <input ng-model="title" type="text" name="title" id="title" class="form-control" />
    </div>
    <div class="form-group">
        <label for="author">Author:</label>
        <input ng-model="author" type="text" name="author" id="author" class="form-control" />
    </div>
    <div class="form-group">
        <label for="sourceUrl">Source URL:</label>
        <input ng-model="sourceUrl" type="text" name="sourceUrl" id="sourceUrl" class="form-control" />
    </div>
    <div class="form-group">
        <label for="sourceUrl">Image of Author URL:</label>
        <input ng-model="imageUrl" type="text" name="imageUrl" id="imageUrl" class="form-control" />
    </div>
    <div class="form-group">
        <label for="passage">Passage:</label>
        <textarea ng-model="passage" type="text" name="passage" id="passage" class="form-control" rows = '20'></textarea>
    </div>
    <div>
        <input ng-click="addPassage()" type="submit" value="Add Passage" class="btn btn-success"/>
    </div>
</form>
