<div ng-hide = 'practiceButton' class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group" role="group">
  <button ng-click = 'toPractice()'  type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-list"></span>
    <p>Practice</p>
  </button>
</div>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group" role="group">
  <button ng-click = 'toPassageInfo()'  type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-info-sign"></span>
    <p>Passage Info</p>
  </button>
</div>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group" role="group">
  <button ng-click = 'deletePassage()'  type="button" class="btn btn-default">
    <span class = 'glyphicon glyphicon-trash'></span>
    <p>Delete</p>
  </button>
</div>
</div>
