<div class="container" ng-init = 'init()'>
  <div class= 'text-center'>
    <h3>Passages Memorized</h3>
  <div ng-repeat = 'passage in passages'>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button ng-click = 'toPassageInfo(passage._id)'  type="button" class="btn btn-default"><strong>{{passage.title}}</strong> <p>{{passage.author}}</p></button>
    </div>
  </div>
    </div>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button ng-click = 'toHome()'type="button" class="btn btn-default home-depot"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-left"></span> Practice</button>
    </div>
  </div>
</div>
