<div class="text-center">
    <h3 class ='box'>{{titleInfo}}</h3>
    <h5>{{authorInfo}}</h5>
<span ng-repeat="passage in passageArry track by $index" ng-class="{'blank':$index== randomWordNumber}">
    <span ng-if="$index!= randomWordNumber" ng-bind-html = 'passage' class = "angular-with-newlines"></span>
</span>
<div ng-bind-html = 'showHintOne' class = 'hint'>

</div>
</div>
<form class="loginRegister">
<div class="input-group">
   <span class="input-group-addon"><i class="glyphicon glyphicon-question-sign"></i></span>
    <input ng-model="guess" type="text" class="form-control" />
</div>
<div>
    <input ng-click="guessIt()" type="submit" value="Guess" class="btn btn-secondary btn-lg practice-one"/>
</div>
<div>
    <input ng-click="reset()" type="submit" value="Reset" class="btn btn-secondary btn-lg practice-two"/>
</div>
</form>
