<div class="container" ng-init = 'init()'>
  <div class= 'text-center'>
    <h3>Passages to Practice</h3>
  </div>
    <div ng-repeat = 'passage in passages'>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button ng-click = 'toPractice(passage._id)'  type="button" class="btn btn-default"><strong>{{passage.title}}</strong> <p>{{passage.author}}</p></button>
      </div>
    </div>
    </div>

  <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button ng-click = 'toDepot()' type="button" class="btn btn-default home-depot">The Depot <span class="glyphicon glyphicon-chevron-right"></span><span class="glyphicon glyphicon-chevron-right"></span></button>
  </div>
</div>

</div>
