<div ng-init = 'init()'>
  <div class= 'text-center'>
    <div ng-repeat = 'passage in passages'>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button ng-click = 'toPractice(passage._id)'  type="button" class="btn btn-default"><p class = 'title'>{{passage.title}}</p><p class ='author'>{{passage.author}}</p></button>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group" role="group">
  <button ng-click = 'toAddPassage()'  type="button" class="btn btn-default add"><p><span class = 'glyphicon glyphicon-plus-sign'></span></p><p class ='author'>Add Passage</p></button>
</div>
