<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group practice-games" role="group">
      <button ng-click = 'addLine()'type="button" class="btn btn-default practice-games"><span class = 'glyphicon glyphicon-plus'></span><p>Add Word</p></button>
    </div>
    <div class="btn-group" role="group">
      <button ng-click = 'slowDown()'type="button" class="btn btn-default practice-games"><span class = 'glyphicon glyphicon-fast-backward'></span><p>Slow Down</p></button>
    </div>
    <div class="btn-group" role="group">
      <button ng-click = 'addTimedLine()' type="button" class="btn btn-default practice-games"><span class = 'glyphicon glyphicon-time'></span><p>Start</p></button>
    </div>
    <div class="btn-group" role="group">
      <button ng-click = 'speedUp()'type="button" class="btn btn-default practice-games"><span class = 'glyphicon glyphicon-fast-forward'></span><p>Speed Up</p></button>
    </div>
    <div class="btn-group" role="group">
      <button ng-click = 'stop()'type="button" class="btn btn-default practice-games"><span class = '	glyphicon glyphicon-ban-circle'></span><p>Stop</p></button>
    </div>
</div>

<div class = 'text-center seconds' ng-bind-html = 'speedOutput'>

</div>

</div>
<div ng-init = 'showOneLine()'>
  <div class="text-center">
      <h3 class ='box'>{{titleInfo}}</h3>
      <h5>{{authorInfo}}</h5>
    <div ng-bind-html = 'text' class = "angular-with-newlines" >
    </div>
  </div>
    </div>
