<div class="container">
<h1 class='text-center'>Login</h1>

<form>
    <div class="input-group">
       <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input ng-model="username" type="text" name="username" id="username" class="form-control" />
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input ng-model="password" type="password" name="password" id="password" class="form-control" />
    </div>
    <div>
        <input ng-click="login()" type="submit" value="Login" class="btn btn-success"/>
    </div>
    <div class="text-center loginRegister">
      <a href="#!register">Register</a>
    </div>
</form>
</div>
