
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group practice-games" role="group">
      <button ng-click = 'toRecite()'type="button" class="btn btn-default">Recite</button>
    </div>
    <div class="btn-group" role="group">
      <button ng-click = 'toWrite()'type="button" class="btn btn-default practice-games">Write</button>
    </div>
    <div class="btn-group" role="group">
      <button ng-click = 'toWordByWord()' type="button" class="btn btn-default practice-games">Word by Word</button>
    </div>
    <div class="btn-group" role="group">
      <button ng-click = 'toLinebyLine()'type="button" class="btn btn-default practice-games">Line by Line</button>
    </div>
    <div class="btn-group" role="group">
      <button ng-click = 'tofillInBlank()'type="button" class="btn btn-default practice-games">Fill in the Blank</button>
    </div>
</div>
