<div class="container">
    <div class="text-center">
      <h4>Choose a game below and Practice {{title}} by {{author}}!</h4>
    </div>
    <div class="row">
    <div ng-click = 'toRecite()' class="panel panel-default text-center col-md-2 col-md-offset-1">
        <strong>Recite</strong>
    </div>
    <div ng-click = 'toWrite()' class="panel panel-default text-center col-md-2">
        <strong>Write</strong>
    </div>
    <div ng-click = 'toWordByWord()' class="panel panel-default text-center col-md-2">
        <strong>Word by Word</strong>
    </div>
    <div ng-click = 'toLinebyLine()' class="panel panel-default text-center col-md-2">
        <strong>Line by Line</strong>
    </div>
    <div ng-click = 'tofillInBlank()' class="panel panel-default text-center col-md-2">
        <strong>Fill In Blank with Word</strong>
    </div>
    </div>

    <div class="row">
        <div class="col-md-6 panel panel-default text-center" ng-click = 'toPassageInfo()'>
          <p>Passage Info</p>
        </div>
        <div class= "col-md-6 panel panel-default text-center" ng-click = 'addToDepot()'>
            <p>Add to Depot</p>
        </div>
      </div>


</div>
