<div ng-init = 'getCounter()'>
  <div>
  <button ng-click="increment()" type="submit" value="Add Word" class="btn btn-secondary btn-lg practice-one">
  <span class ='glyphicon glyphicon-plus-sign'></span>
  <p>Recited</p>
</button>
<div class = 'text-center'>
  <h2 class = 'box-around'><span>{{counter}}</span></h2>
  <div class="text-center">
      <h3 class ='box'>{{titleInfo}}</h3>
      <h5>{{authorInfo}}</h5>
      </div>
      <div class="angular-with-newlines info">
        {{passageByID}}
      </div>
      </div>
