<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group" role="group">
  <button ng-click = 'toPractice()'type="button" class="btn btn-default">Pracitce</button>
</div>
</div>
<div ng-init = 'getCounter()'>
    <div class = "angular-with-newlines">
        {{passageByID}}
    </div>
    <div>
        <input ng-click="increment()" type="submit" value="Recited" class="btn btn-success center-block"/>
    </div>
    <div class = 'text-center'>
      <strong>{{counter}}</strong>
    </div>
</div>
<div class="footer">

</div>
