<div class="text-center">
<h2 class ='box'>{{userFirst}} {{userLast}}</h2>
</div>
<div class="row">
  <div class="col-md-6 col-xs-6 text-center">
    <table class ='text-center'>
      <table align= 'center'>
        <caption>In Practice</caption>
        <tr class ='text-center'>
          <th>Number: {{numberOne}}</th>
        </tr>
        <tr ng-repeat = 'passage in practices'>
          <td>{{passage.title}}</td>
        </tr>
    </table>
</div>
<div class="col-md-6 col-xs-6 text-center">
  <table class ='text-center'>
    <table align= 'center'>
      <caption>In Depot (Memorized)</caption>
      <tr class ='text-center'>
        <th>Number: {{numberTwo}}</th>
      </tr>
      <tr ng-repeat = 'passage in depots'>
        <td>{{passage.title}}</td>
      </tr>
  </table>
</div>
</div>

<div class="text-center">
  <table align='center'>
    <caption class='text-center'>Fill In Blank Stats</caption>
    <tr class= 'text-center'>
      <th>Passages in Practice</th>
      <th>Passages in Depot</th>
      <th>Total</th>
    </tr>
    <tr>
      <td>{{showPractice}}</td>
      <td>{{showDepot}}</td>
      <td>{{showTotal}}</td>
    </tr>
    <tr>
      <td>{{showPracticePercentage}}</td>
      <td>{{showDepotPercentage}}</td>
      <td>{{showTotalPercentage}}</td>
    </tr>
  </table>
</div>
  <div class= 'text-center'>
    <table align= 'center'>
      <caption class= 'text-center'>Recited Stats</caption>
      <tr>
        <th>Passage</th>
        <th>Times Recited</th>
      </tr>
      <tr ng-repeat = 'passage in recited'>
        <td>{{passage.title}}</td>
        <td>{{passage.recited}}</td>
      </tr>
    </table>
  </div>
</div>
