<div ng-bind-html = 'outputText' class = "angular-with-newlines">
</div>
<div class="container">

<div ng-hide = 'hideText' class="form-group write">
    <textarea ng-model="passageFromUser" type="text" class="form-control text-area" rows = '15' placeholder="Write As Much Of {{title}} As You Remember, include All Line Breaks and Punctuaction..."></textarea>
</div>
</div>
<div>
    <input ng-click="compare()" type="submit" value="Compare" class="btn btn-secondary btn-lg practice-one"/>
</div>
<div>
    <input ng-click="reset()" type="submit" value="Reset" class="btn btn-secondary btn-lg practice-two"/>
</div>
