<div class="text-center">
    <h3 class ='box'>{{titleInfo}}</h3>
    <h5>{{authorInfo}}</h5>
</div>
<div class="text-center">
<div ng-bind-html = 'outputText' class = "angular-with-newlines">
</div>
</div>
<div ng-hide = 'hideText' class="container">

<label class="has-float-label">
    <textarea ng-model="passageFromUser" class="form-control" type="text" rows= '15' placeholder="Write {{title}}. Include Punctuation and Line Breaks."/></textarea>
    <span>Write</span>
</label>
</div>
<div>
    <input ng-click="compare()" type="submit" value="Compare" class="btn btn-secondary btn-lg practice-one"/>
</div>
<div>
    <input ng-click="reset()" type="submit" value="Reset" class="btn btn-secondary btn-lg practice-two"/>
</div>
